<?php $product = $block->getProduct(); ?>
<?php $label = $this->helper("Megastorm\Base\Helper\Data")->getConfigValue('megastorm_buynow/general/label'); ?>
<?php if ($product->isSaleable()) : ?>
    <?php $postParams = $block->getAddToCartPostParams($product); ?>
    <div class="buynow">
        <form action="<?php /* @noEscape */ echo $postParams['action']; ?>"
              id="product_addtocart_form_<?php /* @noEscape */ echo $postParams['data']['product']; ?>"
              method="post">
            <input type="hidden"
                   name="product"
                   value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
            <input type="hidden"
                   name="<?php /* @noEscape */ echo 'uenc'; ?>"
                   value="<?php /* @noEscape */ echo $postParams['data']['uenc']; ?>">
            <?php echo $block->getBlockHtml('formkey')?>
            <button type="submit"
                    title="<?php echo $block->escapeHtml(__($label)); ?>"
                    class="action tocart buynow primary"
                    data-mage-init='
                    {
                        "Megastorm_Buynow/js/buy-now": {
                            "form": "#product_addtocart_form_<?php echo $postParams['data']['product']; ?>"
                        }
                    }
                '>
                <span><?php /* @noEscape */ echo __($label) ?></span>
            </button>
        </form>
    </div>
<?php endif; ?>