.product-item-inner .product-item-actions .actions-primary + .actions-secondary{
    width:100%;
    text-align: center;
}

.actions-secondary button.tocart.buynow{
    width:100%;
    display: block;
    margin-bottom:10px;
}


.box-tocart .action.buynow {
    vertical-align: top;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
}

@media screen and (min-width: 768px){
    .box-tocart .action.buynow {
        margin-bottom: 0;
        margin-right: 1%;
        width: 49%;
    }
}


@media screen and (max-width: 767px) {
    .catalog-product-view #buy-now
    {
        width: 100%;
    }
}