<button type="submit"
        title="<?php /* @escapeNotVerified */ echo $this->helper("Megastorm\Base\Helper\Data")->getConfigValue('megastorm_buynow/general/label') ?>" id="buy-now" class="action primary buynow"
 data-mage-init='
{
    "Megastorm_Buynow/js/buy-now": {
        "form": "#product_addtocart_form"
    }
}
'>
    <span><?php /* @escapeNotVerified */ echo $this->helper("Megastorm\Base\Helper\Data")->getConfigValue('megastorm_buynow/general/label') ?></span>
</button>